{% include "header-main.html" %}

    <section class="page-section clearfix" style="color: white !important;">
      <div class="container">
        <div class="intro">

          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
               src="{{ url_for('static', filename='images/candles/softedge1.png') }}" alt="profile image" height="300">

          <div class="intro-text bg-faded left-0 text-center bg-faded p-5 rounded">

            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Example</span>
              <span class="section-heading-lower">Example</span>
            </h2>
            <p class="mb-3">
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Visit Us Today!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">example</span>
                <span class="section-heading-lower">Example</span>
              </h2>
              <p class="mb-0">
                  Example
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include "footer.html" %}

  </body>
</html>
